
.gol-instruction-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   width:100%;

   .content {
       //background:red;
       width:100%;
       display:flex;
       flex-direction: column;
       align-self: start;
       margin: 1rem;
       
        h1,h2,h3,h4,h5,h6 {
            align-self: start;
        }

        p {
            text-align: left;
        }

       }

     
}

@media screen and (max-width:992px){
    .gol-instruction-container{
        //background:red;
        width:98%;
        margin:0 auto;
        padding: 1.2rem;

        .content{
            margin:2rem auto;
        }
    }

    .gol-grid-wrapper {
        //background:bisque;
        justify-content: space-between;

        .gol-grid-ctnr {
            margin:1rem 0;
        }

        .cntrl-panel {
            margin-right: 0;
            padding: 0 0.8rem;
        }

        .counter-cntr{
            .count{
                font-size: 1.3rem;
                padding:0.8rem;
            }
        }

    }
  
 }

