.nasa-h1-ctnr {
    margin-bottom:1.5rem;
}

.nasa-h1-ctnr h1 {
    color:$apple-green;
    text-shadow: $text-shadow-1;
}

h2.nasa-img-title {
    color:$dark-background;
    text-shadow: $text-shadow-2;
    
}