/** variables **/
$box-shadow: 2px 0px 8px rgba(0,0,0,0.5);

/** colors ***/
$red-orange: #f6511dff;
$burnt-orange: #cf5300;
$honey-yellow: #ffb400ff;
$carolina-blue: #00a6edff;
$apple-green: #7fb800ff;
$prussian-blue: #0d2c54ff;
$slate-gray: #485c5a;
$white-smoke: #f5f5f5;
$dark-background: #041d4e;

/** mixins **/