.toggle-btn {
    display:none;

}

.toggle-btn:focus {
    outline:none;
}

.toggle-btn-bar {
    width:30px;
    height: 2px;
    background:$white-smoke;
}

@media(max-width: 768px) {
    .toggle-btn {
            display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 32px;
    background:transparent;
    border:none;
    cursor: pointer;
    }
}