// footer{
//     display: grid;
//     background-color:gray;
// }

footer {
    display: flex;
    flex-direction: column;
    color:$white-smoke;
    background-color: $dark-background;
  
}

footer a {
    text-decoration:none;
    color: $white-smoke;
    margin:1rem;
  
}

a:hover {
    text-decoration:underline;
}

.main-footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.4em;
    padding: 1.25rem 1.875rem;
}

.main-footer-title {
    font-size: 1.25rem;
}

.main-footer-item {
    margin: auto;
    padding: 1.25rem;
    min-width: 12.5rem 
    
}

.footer-about-links a {
    padding-left:0;
   font-size: 24px;
}

.footer-clock{
    width:100%;
    margin:1.2rem 0;
}

.footer-clock {
    background-color:firebrick;
    border-radius:$br-4;
}

.footer-clock h2 {
    font-size: 1rem;
    
}
.social-footer,
.legal-footer{
    text-align: center;
    margin-bottom: 1.25em;
    padding: 1em;
}


.social-list {
    font-size: 1.8em;
}




