.side-drawer {
    height: 100%;
    background:$white-smoke;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    /* animation */
    transform: translateX(-102%);
    transition: transform 0.4s ease-out;
}

/* side drawer animation */
.side-drawer.open {
   transform: translateX(0); 
}

.side-drawer ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
}

.side-drawer li {
    margin:0 0.8rem ;
}

.side-drawer a {
    color: $prussian-blue;
    font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color:$apple-green;
}
