@import 'styles/reset';
@import 'styles/config';
@import 'styles/utilities';
@import 'styles/buttons';
@import 'styles/clock';
// @import 'styles/header';
@import 'styles/toolbar';
@import 'styles/sidedrawer.scss';
@import 'styles/drawerToggleBtn';
@import 'styles/backdrop';
@import 'styles/footer';

//page styles
@import 'styles/pages/homePage';

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    //min-height: 100vh;
    height: 100%;
    margin-top: 0;
    background:aliceblue;
    padding: 2rem 4rem;
}


.main-cntr {
    margin-top: 64px;
   
}

.row {
    display: flex;
    flex-wrap: wrap;
}



 



