@import 'styles/reset';
@import 'styles/config';
@import 'styles/utilities';
@import 'styles/buttons';
@import 'styles/clock';
// @import 'styles/header';
@import 'styles/toolbar';
@import 'styles/sidedrawer.scss';
@import 'styles/drawerToggleBtn';
@import 'styles/backdrop';
@import 'styles/footer';

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    // height: 100%;
    margin-top: 0;
}


.main-cntr {
    margin-top: 64px;
}



 



