@import 'styles/reset';
@import 'styles/config';
@import 'styles/utilities';
@import 'styles/buttons';
@import 'styles/clock';

//component styles
@import 'styles/toolbar';
@import 'styles/sidedrawer.scss';
@import 'styles/drawerToggleBtn';
@import 'styles/backdrop';
@import 'styles/footer';
@import 'styles/grid';

//page styles
@import 'styles/pages/homePage';
@import 'styles/pages/gameoflife';
@import 'styles/pages/nasapic';
@import 'styles/pages/weather';

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin-top: 0;
    background:aliceblue;
    padding: 2rem 4rem;
}


.main-cntr {
    margin-top: 64px;
   
}

.row {
    display: flex;
    flex-wrap: wrap;
}



 



